body {
    text-align: center;
    height: 100vh;
    width: 100vw;
}
header, .column, .column_header, .column_content, .column_footer  {
    border: 1px solid black;
}
.title {
    height: 10%;
}
.all_columns {
    height: 90%;
}
.column {
    height: 100%;
    padding: 0;
}
.column_header {
    height: 10%;
}

.column_content {
    height: 80%;
    overflow: scroll;
}
.column_footer {
    height: 10%;

}