* {
    border: 2px solid black;
}
.main_container {
    height: 100%;
    padding: 0;
}
h1 {
    font-weight: bold;
}
.col-sm-3 {
    height: 100vh;
    padding: 0;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 26px;
    background-color: lightgrey;
    padding: 0;
}